<br>
<footer class="py-4 bg-dark text-light d-flex justify-content-around align-items-center mt-auto">
    <div class="text-center align-self-center">
        <p class="mb-0"><span class="px-1">&#169</span>crudmodelopost</p>
    </div>
    
</footer>